* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: white;
}

header {
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 48px;
    border-bottom: 1px solid #eeeeee;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #52616d;
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #71808c;
    font-size: 13px;
}

.username {
    margin-left: auto;
    border: none;
    background: #eef9ff;
    color: #159fe5;
    padding: 12px 17px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: bold;
}

.hero {
    max-width: 650px;
    margin: 55px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-content {
    width: 350px;
}

.hero h1 {
    font-size: 28px;
    line-height: 1.4;
    color: #52616d;
}

.hero h1 span {
    color: #08a8f5;
}

.hero p {
    margin-top: 8px;
    color: #a2adb5;
    font-size: 13px;
    line-height: 1.45;
}

.service-btn {
    margin-top: 20px;
    padding: 15px 32px;
    border: none;
    border-radius: 11px;
    background: #12aaf0;
    color: white;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

.hero-image {
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
